body {
  font-family: Arial, Helvetica, sans-serif; 
  margin: 0;   
  background-color: #121212; 
}

h1 {
  color: rgb(243, 243, 243);
  font-family: "Segoe UI", Tahoma, Geneva, sans-serif; 
  font-size: 75px;
  text-align: center; 
  margin-top: 70px; 
  margin-bottom: 15px; 
}

h3 {
  color: rgb(243, 243, 243);
  font-family: "Segoe UI", Tahoma, Geneva, sans-serif; 
  font-size: 40px; 
  text-align: center; 
  margin-bottom: 75px; 
}

.content {
  margin-left: 10vw;
  margin-right: 10vw;
}


.navbar {
    width: 100%;
    background-color: #1a1a1a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 15px 0;
  }
  
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
.navbar a {
    text-decoration: none;
    color: rgb(243, 243, 243);
    font-size: 20px;
    font-weight: bold;
    background: none;
    padding: 0;
    border-radius: 0;
  }
  
.navbar a:hover {
    color: #4595a3;
  }



#section1 {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 40px;
  
}

#section1 h2 {
  color: rgb(243, 243, 243);
} 

#section1 p {
  color: rgb(243, 243, 243);
}


h2 {
  font-size: 35px;
  margin-top: 40px; 
  margin-bottom: 30px; 
}

p {
  font-size: 20px;
  line-height: 1.6; 
  margin-bottom: 20px;
}
