body {
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #121212;
}
 
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
  font-size: 75px;
  margin-top: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 75px;
  color: rgb(243, 243, 243);
}

.navbar {
    width: 100%;
    background-color: #1a1a1a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 15px 0;
  }
  
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
.navbar a {
    text-decoration: none;
    color: rgb(243, 243, 243);
    font-size: 20px;
    font-weight: bold;
    background: none;
    padding: 0;
    border-radius: 0;
  }
  
.navbar a:hover {
    color: #4595a3;
  }

.content {
  margin-left: 10vw;
  margin-right: 10vw;
}